<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farmer.open9527.rmt.pkg">

    <application>

        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="主页"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>