<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farmer.open9527.demo">

    <application>

        <activity
            android:name=".activity_result.TestResultApiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="ResultApi"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".load_image.TestImageLoadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="ImageLoad"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

    </application>
</manifest>