<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farmer.open9527.meeting">

    <application>

        <activity
            android:name=".splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="主页"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.contacts.ContactsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="通讯录"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.mine.MineInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="个人信息"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.setting.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="设置"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="登录"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>
</manifest>