<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.farmer.open9527.share">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <!-- QQ AppId（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="QQ_ID"
            android:value="${QQ_ID}" />
        <!-- QQ Secret（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="QQ_SECRET"
            android:value="${QQ_SECRET}" />

        <!-- 微信 AppId（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="WX_ID"
            android:value="${WX_ID}" />
        <!-- 微信 Secret（请在 Gradle 中配置，请不要在此处修改） -->
        <meta-data
            android:name="WX_SECRET"
            android:value="${WX_SECRET}" />

        <!-- QQ -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:node="replace" />

    </application>

    <!-- Android 11 软件包可见性适配：https://developer.android.google.cn/about/versions/11/privacy/package-visibility -->
    <queries>
        <!-- 手机 QQ 的包名 -->
        <package android:name="com.tencent.mobileqq" />
        <!-- 微信的包名 -->
        <package android:name="com.tencent.mm" />
    </queries>

</manifest>